body{
   background: #eee;
}

#content{
    width:400px ;
    background-color:#fff;
    padding: 20px;
    font-family: calibri;
    font-size: 18px;
    color: #444;
    margin: 0 auto;
    max-height: 200px;
    overflow: hidden;
     

    -webkit-transition: max-height 0.7s ;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.6s;
}

#content.open{
     max-height: 1500px;

    -webkit-transition: max-height 1.5s ;
    -moz-transition: max-height 1.5s;
     transition: max-height 1.5s;
}

#show-more {
    background: #1594e5;
    color: #fff;
    font-family: calibri;
    display: block;
    width: 140px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
}